<div class="top-row pl-4 navbar navbar-dark text-white">
    <span>Intel-8086</span><br/>
    <small>Symulator</small>
</div>

<div>
    <ul class="nav flex-column text-light">
        <li class="nav-item px-3">
            <span>Projekt wykonał Kacper Dumieński w ramach projektu dla przedmiotu "Architektura systemów komputerowych"</span>
        </li>
    </ul>
</div>
